<div>
  <app-menu-superior></app-menu-superior>
</div>
<div class="container mt-5">
  <div class="jumbotron fondoOscuro text-white">
    <h1 class="display-4">{{ bienvenida }}</h1>
    <p class="lead">Facultad Ingenieria de Sistemas</p>
    <hr class="my-4 bg-light" />
    <p>
      <i class="fas fa-archway iconInicio"></i> Universidad Santo Tomas Seccional Tunja.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg text-dark" role="button">Learn more</a>
    </p>
  </div>
</div>
